<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ACT.SpecialSpellTimer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ACT.SpecialSpellTimer.Properties.Settings>
            <setting name="LastUpdateDateTime" serializeAs="String">
                <value>2000-01-01</value>
            </setting>
            <setting name="ProgressBarSize" serializeAs="String">
                <value>190, 8</value>
            </setting>
            <setting name="ProgressBarColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Font" serializeAs="String">
                <value>Meiryo UI, 9.75pt, style=Bold</value>
            </setting>
            <setting name="FontColor" serializeAs="String">
                <value>AliceBlue</value>
            </setting>
            <setting name="Opacity" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="RefreshInterval" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="OverlayVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoSortEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClickThroughEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimeOfHideSpell" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoSortReverse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TelopAlwaysVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnabledPartyMemberPlaceholder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlayerInfoRefreshInterval" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="FontOutlineColor" serializeAs="String">
                <value>22, 120, 157</value>
            </setting>
            <setting name="ProgressBarOutlineColor" serializeAs="String">
                <value>22, 120, 157</value>
            </setting>
        </ACT.SpecialSpellTimer.Properties.Settings>
    </userSettings>
</configuration>