<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ACT.SpecialSpellTimer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ACT.SpecialSpellTimer.Properties.Settings>
            <setting name="LastUpdateDateTime" serializeAs="String">
                <value>2000-01-01</value>
            </setting>
            <setting name="ProgressBarSize" serializeAs="String">
                <value>180, 5</value>
            </setting>
            <setting name="ProgressBarColor" serializeAs="String">
                <value>OrangeRed</value>
            </setting>
            <setting name="Font" serializeAs="String">
                <value>メイリオ, 9.75pt</value>
            </setting>
            <setting name="FontColor" serializeAs="String">
                <value>AliceBlue</value>
            </setting>
            <setting name="Opacity" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="RefreshInterval" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="OverlayVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoSortEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClickThroughEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimeOfHideSpell" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoSortReverse" serializeAs="String">
                <value>False</value>
            </setting>
        </ACT.SpecialSpellTimer.Properties.Settings>
    </userSettings>
</configuration>